<section>
    <div class="container">
        <h1 class="text-center">
            BLOG - category filter AJAX
        </h1>
        <h2 class="text-center">
            HTML:
        </h2>
        <pre
        aria-hidden="true"
        class="pre line-numbers"
        #pre
        ><code [ngClass]="['code', 'language-' + codeType]" #codeContent>{{html}}</code>
        </pre>
        <h2 class="text-center">
            KOD PHP - FILTER.php
        </h2>
        <pre
        aria-hidden="true"
        class="pre line-numbers"
        #pre
        ><code [ngClass]="['code', 'language-' + codeType]" #codeContent>{{php}}</code>
        </pre>
        <h2 class="text-center">
            JavaScript
        </h2>
        <pre
        aria-hidden="true"
        class="pre line-numbers"
        #pre
        ><code [ngClass]="['code', 'language-javascript']" #codeContent>{{javascript}}</code>
        </pre>
    </div>
</section>